/* style.css */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.fill {
    font-variation-settings: 'FILL' 1;
}

body {
    min-height: max(884px, 100dvh);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Padding de seguridad para el scroll en todas las secciones */
section {
    scroll-margin-top: 2rem;
}
/* style.css */

.category-title {
    /* Márgenes arriba y abajo */
    margin-top: 1.5rem;    /* mt-6 */
    margin-bottom: 0.75rem; /* mb-3 */
    
    /* Estilo de botón */
    display: inline-flex;
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    
    /* Colores modo claro/oscuro */
    color: #00d4ff; /* primary */
    background-color: rgba(0, 212, 255, 0.1); /* primary/10 */
    border-radius: 9999px; /* rounded-full */
}

/* Ajuste para que el primer título no tenga tanto margen arriba 
section #skills p:first-of-type {
    margin-top: 0.5rem;
}*/